#navbar{
    height: 50px;
    display: flex;
    background-color: aqua;
    border: 1px solid red;
    justify-content: space-between;
}
#navbar h3{
    margin-top: 16px;
    margin-left: 25px;
}
#navbar a{
    margin-top: 16px;
    margin-right: 25px;
}
#container{
    width: 25%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
}
#container h2{
    text-align: center;
}
#name{
    width: 80%;
    padding: 10px;
    margin-left: 25px;
    border: 1px solid black;
}
#email{
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 25px;
    border: 1px solid black;
}
#address{
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 25px;
    border: 1px solid black;
}
#amount{
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 25px;
    border: 1px solid black;
}
#submit{
    width: 30%;
    margin-top: 20px;
    margin-left: 130px;
    margin-bottom: 10px;
    border: 1px solid black;
}